html {
  background-color: #f7f7f7;
}

body {
  background-color: white;
  border: 1px solid rgb(15, 158, 238);
  margin: 1% 35%;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid rgb(15, 158, 238);
}

a {
  color: #2844FA;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1B29A4;
}

a:active {
  color: #000;
}