attrs==20.3.0
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cryptography==3.2.1
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
multidict==5.0.0
pycparser==2.20
python-dotenv==0.15.0
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
yarl==1.6.2
